@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Space Mono", monospace;
  background-color: hsl(217deg, 100%, 97%);
}

.container {
  height: 550px;
  width: 1000px;
  display: flex;
  justify-content: space-around;
  padding: 20px 40px 20px 10px;
  border-radius: 22px;
  background-color: white;
}
.container .steps-display {
  background-image: url("assets/images/bg-sidebar-desktop.svg");
  border-radius: 10px;
  width: 250px;
  padding: 40px 40px 40px 10px;
}
.container .steps-display .steps {
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
}
.container .steps-display .steps > span {
  border-radius: 50%;
  color: white;
  height: 30px;
  width: 40px;
  text-align: center;
  padding: 2px;
  border: solid 1px white;
}
.container .steps-display .steps div {
  width: 100%;
  margin-left: 15px;
}
.container .steps-display .steps div span {
  font-size: small;
}
.container .steps-display .steps div h4 {
  font-size: 14px;
}
.container .form-display {
  display: flex;
  flex-direction: column;
  border-radius: 22px;
  padding: 20px 40px;
  color: hsl(213deg, 96%, 18%);
}
.container .form-display.hidden {
  display: none;
}
.container .form-display .form-header {
  margin-bottom: 30px;
}
.container .form-display .form-header h1 {
  font-family: sans-serif;
  font-weight: 700;
}
.container .form-display .form-header span {
  color: hsl(229deg, 24%, 87%);
}
.container .form-display .input-control {
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.container .form-display .input-control div {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}
.container .form-display .input-control input {
  display: block;
  width: 100%;
  outline: none;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid hsl(229deg, 24%, 87%);
}
.container .form-display .input-control input::-moz-placeholder {
  font-weight: 500;
  font-size: 16px;
  font-family: inherit;
}
.container .form-display .input-control input::placeholder {
  font-weight: 500;
  font-size: 16px;
  font-family: inherit;
}
.container .form-display .input-control .error {
  color: red;
  display: none;
}
.container .form-display .input-control .input-error {
  border: solid red 1px;
}
.container .form-display .box-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.container .form-display .box-control .box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px;
  height: 170px;
  width: 150px;
  border: 2px solid hsl(229deg, 24%, 87%);
  border-radius: 16px;
  cursor: pointer;
}
.container .form-display .box-control .box div {
  display: flex;
  flex-direction: column;
}
.container .form-display .box-control .box div b {
  color: hsl(213deg, 96%, 18%);
}
.container .form-display .box-control .box div span {
  color: hsl(231deg, 11%, 63%);
}
.container .form-display .switcher {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 10px 15px;
  margin-top: 15px;
  border-radius: 16px;
  background-color: hsl(229deg, 24%, 87%);
}
.container .form-display .add-on-control {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.container .form-display .add-on-control .add-on {
  display: flex;
  height: 70px;
  width: 100%;
  padding: 15px;
  border: solid hsl(243deg, 100%, 62%) 1px;
  border-radius: 16px;
  align-items: center;
  gap: 1rem;
  background-color: hsl(204deg, 33%, 97%);
}
.container .form-display .add-on-control .add-on div {
  margin-right: auto;
}
.container .form-display .add-on-control .add-on span {
  color: hsl(243deg, 100%, 62%);
}
.container .form-display .add-on-control .add-on p {
  font-size: smaller;
  font-weight: bold;
  color: hsl(231deg, 11%, 63%);
}
.container .form-display .review-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: hsl(204deg, 33%, 97%);
  border-radius: 16px;
}
.container .form-display .review-box .plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.container .form-display .review-box .services {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.container .form-display .total {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin-top: 10px;
}
.container .form-display .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}
.container .form-display .buttons .previous-button {
  color: hsl(231deg, 11%, 63%);
  font-weight: bolder;
  background-color: white;
  border: none;
  cursor: pointer;
}
.container .form-display .buttons .next-button {
  padding: 15px 25px;
  color: white;
  background-color: hsl(213deg, 94%, 13%);
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 8px;
}
.container .form-display .buttons .next-button:hover {
  background-color: hsl(213deg, 96%, 18%);
}
.container .thankyou-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 70px;
  gap: 1rem;
}
.container .thankyou-display h2 {
  color: hsl(213deg, 96%, 18%);
}
.container .thankyou-display p {
  color: hsl(231deg, 11%, 63%);
}/*# sourceMappingURL=style.css.map */